<launch>
	<node name="vins_fusion" pkg="vins"  type="vins_node" output="screen" args="$(find vins)/../config/realsense_stereo_imu_config.yaml"/>

	<node name="loop_fusion" pkg="loop_fusion"  type="loop_fusion_node" args="$(find vins)/../config/realsense_stereo_imu_config.yaml" output="screen"/>

</launch> 